body{
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: black;
}

table {
  border-collapse: collapse;
  width: 70%;
  height: 60%;
  table-layout: fixed;
  background: white;
  border-radius: 16px;
  overflow: hidden;   
  outline: 20px solid #d9d9d9;   
}

th {
  padding: 0;
}

button,
input {
  width: 100%;
  height: 100%;
  font-size: 24px;
  box-sizing: border-box;
}

#isi {
  text-align: right;
  font-size: 40px;
  padding: 0px;
  padding-right: 2px;
  overflow-x: auto;
  white-space: nowrap;
  direction: ltr;  
}

#op {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 200%;
  padding: 0;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
